.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 200px;
}

.about-card1 {
  background-color: rgb(30, 82, 160);
}

.about-card2 {
  background-color: rgb(161, 83, 83);
}

.about-card3 {
  background-color: rgb(255, 255, 255);
}

.about-content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-card-title {
  margin-bottom: 12px;
}

.about-card-content- {
  margin-bottom: 12px;
}

.btn-cursos {
  margin: 12px;
}

.about-btn {
  padding: 17px;
  margin-top: 12px;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
}

.about1 {
  background-color: #ffffffe1;
  color: #3134f5;
}

.about2 {
  background-color: #ce3631;
  color: #ffffff;
}

.about3 {
  background-color: #2249ca;
  color: #858383;
}

.card-container-categorias {
  background-color: #4e96e2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.categoria-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 80vh;
}

.card-content-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content-title h1 {
  color: #f0f0f0;
  position: absolute;
  left: 43%;
  top: 14.5em;
  font-size: 70px;
  text-transform: uppercase;
}

.categoriac-card {
  border-radius: 10px;
  box-shadow: 50px 50px 60px rgba(0, 23, 100, 0.719);
  margin: 40px;
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #f4f4f4;
}

.categoriac-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.categoira-title .h1-categoria {
  background-color: #d44848;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.content-card-category {
  padding: 20px;
}

.categoria-card-btn {
  background-color: #0070e7;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.categoria-card-btn a {
  color: #fff;
  text-decoration: none;
}

.categoria-card-btn:hover {
  background-color: #0056b3;
}
