/* Full Page Intro Styles */
.hr-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.699)), url("https://static.vecteezy.com/system/resources/thumbnails/001/935/394/original/flight-into-neon-lights-cyber-futuristic-virtual-reality-free-video.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hr-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.hr-content .hr-title {

  letter-spacing: 8px;
  color: rgb(230, 233, 238);
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
}

.descripcion{
  margin-top: 20px;
  width: 890px;
}

.hr-content .descripcion span {
  color: #f0f0f0e1;
  text-align: left;
}

.pircture{
  width: 100%;
  height: 100%;
}

.pircture img{
  position: absolute;
  top: 200px;  
  left: 800px;
  width: 60%;
  height: 500px;
}


.content-btn{
margin: 12px;
}

.hr-btn {
  margin: 12px;
  font-size: 20px;
  background-color: rgb(182, 53, 81);
  color: rgb(208, 233, 184);
  border: none;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hr-btn i {
  margin-left: 20px;
  font-size: 20px;
}

.hr-btn:hover {
  background-color: #c20d0d;
}
