/* Navbar Styles */
.navbar {
  background-color: #06307cb6;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 25px;
  box-shadow: 0 10px 50px rgba(18, 19, 107, 0.767);
}

.nv-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nv-title h1 {
  margin-left: 12px;
  color: rgb(223, 214, 214);
  font-size: 30px;
  font-weight: 700;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: white;
  margin: 12px;
  border-radius: 20px;
  transition: color cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

.fab {
  font-size: 25px;
}

.nav-link:hover {
  cursor: pointer;
  color: rgb(241, 208, 164);
}
